@import "./node_modules/nes.css/css/nes.css";
/*variable names to use in the project*/
:root{
--bgr : #9E5C00;
--cards-container: #00619E;
--inside-shadow:rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
--light-blue:#0090EB;
--light-orange: #EB8901;
--color-primary:#0090EB ;
--color-secondary: #009e5f;
--color-tertiary: #41aef2;
--color-quaternary: #2c2f31;
--color-quinary:  black;
}

/*The background image and other config*/
body {
    background-image:url('/background.png') ;
    background-size:80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*Pixel font used in the project*/
html, body, pre, code, kbd, samp,p,span,button,.card,.modal {
    font-family: "Press Start 2P",sans-serif;
}


/*card images by default*/
img {
    width: 50%;
    height: 60%;
}
#intro {
    margin-top:15%;
    border-color: var(--color-primary);
    border-radius: 25px;
}
#intro_button {
    margin-left: 40%;
}
.text-shadows {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
      9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(2rem + 5vw);
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    animation: shadows 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
  }
  
  @keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      transform: translate(-3px, -3px);
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% {
      transform: translate(-6px, -6px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    30% {
      transform: translate(-9px, -9px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
      transform: translate(-12px, -12px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    50% {
      transform: translate(-12px, -12px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    60% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
      text-shadow: none;
    }
  }
  
  /*
    --color-primary: #5192ED;
    --color-secondary: #69A1F0;
    --color-tertiary: #7EAEF2;
    --color-quaternary: #90BAF5;
    --color-quinary: #A2C4F5;
  */
/*Color of the text in the search bar*/
::placeholder {
    color: white;
  }
/*Elements referring to the search bar section*/
.search-bar-container {
    display: none;
    flex-direction: column;
    box-shadow: var(--inside-shadow);
    border-radius: 50px;;
    background-color:  var(--cards-container);
    justify-content: center;
    padding: 10px;
    position: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 25px;
   

    /* Ensures the search bar is on top of other content */
}

#search-bar {
    width: 95%;
    height: 60%;;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-blue);
    color:white;
}

#resultados {
    display:none;
    position: absolute;
    width: 40%;
    max-height: 50%;;
    top:3.5%;
    border-radius: 10px;
    background-color: white;
    z-index: 2;
    overflow-y: scroll;
}
.searchSpan {
    width: 100%;
}
.searchSpan:hover {
    font-size: large;
    color:rgb(9, 76, 221);
}
/*THIS SECTION REFERRS TO EVERY ELEMENT ON THE CAROUSEL*/
#prev_button,#next_button {
    background-color: var(--light-blue);
    color:white;
    font-size: 50px;
    height: 50%;
    margin-top:20%;
    margin-left: 2%;
    margin-right: 2%;
    border-style: solid;
}
#prev_button:hover,#next_button:hover {
    color:var(--light-orange);

 
}
.carousel {
    display: none;
    flex-direction: row;
    justify-content: center;
    block-size: fit-content;
    margin-top:0.5%;
    width: 70%;
    height:30%;
    overflow: calc();
}
    


.card_container {
    
    width: 100%;
    height: 550px;
    background-color: var(--cards-container);
    box-shadow: var(--inside-shadow);
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: start;
    padding-top:1%;
    padding-bottom: 1%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

#close_modals {
    display: none;
    position: absolute;
    margin-top: 3%;
    margin-left: 35%;
    ;
    border-radius: 90px;
    width: 30px;
    height: 30px;
    border-style: none;
    color: antiquewhite;
    background-color: rgb(212, 78, 78);
    z-index: 2;
}

.card {
    background-color:var(--light-blue);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 75%;
    width: 80%;
    
}
.pId {
    background-color:var(--light-blue);
    color:white;
    width:30%;
    text-align: center;
    position: absolute;
    margin-top:-15%;
    margin-left: -50%;
    border-radius: 10px;
}
.card:hover {
    box-shadow: var(--inside-shadow);
    border-radius: 5px;
    
}
.card_info {
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    /* Could be more or less, depending on screen size */
    width: 50%;
    display: grid;
    height: 50%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-content: center
}

.card_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;

}



/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);

    /* Black w/ opacity */

    justify-content: space-around
}

.modal_conainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue);
    border-style: solid;
    border-color: var(--light-orange);
    border-width: 0.5px;
    box-shadow: var(--inside-shadow);
    margin-top: 3%;
    ;
    margin-left: 23%;
    margin-right: 25%;
    height: 70%;
    width: 45%;

}
.card_info {
    border-style: none;
    color:white;
}
.card_modal_image {
    scale: inherit;
}
/*Colors depending on the element*/
.fire{

}
.water{

}

/*Media queries*/
@media(1100px < width < 1240px) {
    p {
        font-size:15px;
    }
    .card-container {
        width: 100%;
        height: 500px;
    }
    .card {
    height: 75%;
    width: 50%;
    }
   
}
@media( width < 1100px) {
    p {
        font-size:8px;
    }
    img {
        width:100%;
        height:100%;
    }
    .card-container {
        width: 100%;
        height: 100%;

    }
    .card {
    height: 75%;
    width: 50%;
    margin-right: 0;
    }
   
}
@media(650px < height < 750px) {
    p {
        font-size:15px;
    }
    .card-container {
        height: 300px;
    }
    .card {
    height: 80%;

    }
   
}
@media( 500 < height < 650px) {
    p {
        font-size:8px;
    }
    img {
        width:100%;
        height:100%;
    }
    .card-container {
        height: 60%;

    }
    .card {
    height: 55%;
    }
   
}
@media(  height < 500px) {
    p {
        font-size:8px;
    }
    img {
        width:100%;
        height:100%;
    }
    .card {
    height: 35%;
    margin:0;
    
    }
    .card-container {
        height:10%;
        align-items: stretch;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
     grid-row-gap: 10px;

    }
    img {
        display:none;
    }
   
}